html, body {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    color: white;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.firstParagraph {
    background-color: rgb(71, 47, 47);
}

.secondParagraph {
    background-color: rgb(46, 92, 46);
}

ol {
    list-style-type: upper-alpha;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: square;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

a:hover {
    list-style-type: none;
    color: black;
}

img {
    overflow: hidden;
    position: relative;
    float: left;
    width:  50%;
    height: auto;
}

p {
    font-family: 'Hind', sans-serif;
}

