html, body {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    color: white;
}

title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.firstParagraph {
    background-color: rgb(255, 166, 166);
}

.secondParagraph {
    background-color: rgb(161, 255, 161);
}

ol {
    list-style-type: upper-alpha;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: square;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

a:hover {
    list-style-type: none;
    color: black;
}

.images {
    width: 50%;
    height: auto;
}

img {
    overflow: hidden;
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
}

p {
    font-family: 'Hind', sans-serif;
}

